Let us say your expense for every month are listed below,
January - 2200
February - 2350
March - 2600
April - 2130
May - 2190
Create a list to store these monthly expenses and using that find out,

In [1]:
exp = [2200,2350,2600,2130,2190]

1. In Feb, how many dollars you spent extra compare to January?

In [2]:
exp[1]-exp[0]

150

2. Find out your total expense in first quarter (first three months) of the year.

In [3]:
sum(exp[:3])

7150

3. Find out if you spent exactly 2000 dollars in any month

In [4]:
indicator = False
for i in range(len(exp)):
    if exp[i] == 2000:
        indicator = True
        break
print(indicator)

False

4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

In [5]:
exp.append(1980)
exp

[2200, 2350, 2600, 2130, 2190, 1980]

5. You returned an item that you bought in a month of April and
got a refund of 200$. Make a correction to your monthly expense list
based on this

In [6]:
exp[3] = exp[3]-200
exp

[2200, 2350, 2600, 1930, 2190, 1980]

You have a list of your favourite marvel super heros.

In [10]:
heros=['spider man','thor','hulk','iron man','captain america']

1. Length of the list

In [8]:
len(heros)

5

2. Add 'black panther' at the end of this list

In [11]:
heros.append('black panther')
heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

3. You realize that you need to add 'black panther' after 'hulk',
   so remove it from the list first and then add it after 'hulk'

In [12]:
heros.pop()
#or
#heros.remove(5)

'black panther'

In [13]:
heros.insert(3,'black panther')
heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

4. Now you don't like thor and hulk because they get angry easily :)
   So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool).
   Do that with one line of code.

In [22]:
heros[1:3]=['doctor strange']
print(heros)

['black panther', 'doctor strange', 'iron man', 'spider man']

5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [15]:
dir(list)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [17]:
heros.sort()
heros

['black panther', 'captain america', 'hulk', 'iron man', 'spider man', 'thor']

Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [24]:
num = int(input('Give a number'))
[i for i in range(num+1) if i%2==1]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25]